*{
    margin: 0;
    padding: 0;
}

#productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tarjetaProducto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid blue;
    border-radius: 10px;
    margin: 1px;
}

.imagen {
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#carrito {
    border: 2px solid black;
    width: 400px;
    height: 400px;
}

.oculto {
    display: none;
}