* {
    margin: 0;
    padding: 0;
}

#productos {
    margin: 15px;
}

.tarjetaProducto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1px;
}

.imagen {
    width: 25%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#carrito {
    border: 2px solid black;
    width: 400px;
    height: 400px;
}

.oculto {
    display: none;
}